@use "../consts" as *;

.model-cancel-icon{
  color: var(--text-secondary);
  width: 24px;
  height: 24px;
  padding: 4px;

  &:hover{
    color: var(--red-main);
    background: var(--border-base);
    border-radius: 8px;
  }
}
.icon{
  color: var(--text-secondary);
  width: 24px;
  height: 24px;
  padding: 4px;
}