$width_slider: 42px;
$height_slider: 24px;

.switch {
  position: relative;
  display: inline-block;
  width: $width_slider;
  height: $height_slider;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-bg);
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: calc(#{$height_slider} - 8px);
    width: calc(#{$height_slider} - 8px);
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
}

.switch input:checked + .slider {
  background-color: var(--accent-secondary);

  &:before {
    transform: translateX(calc(#{$height_slider} - 8px));
  }
}

.round {
  border-radius: $height_slider;

  &:before {
    border-radius: 50%;
  }
}
