.stateNodeWrapper {
  position: fixed;
  display: inline-flex;
  align-items: center;
  cursor: default;
  z-index: auto;
  transition: z-index 0.1s;

  &.deleteMode:hover {
    svg {
      color: var(--red-main);
    }
  }
}

.stateNode {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--accent-primary);
  background-color: var(--accent-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--accent-primary);
  white-space: nowrap;
  position: relative;

  &.deleteMode:hover {
    border-color: var(--red-main);
    color: var(--red-main);
    cursor: pointer;
  }
}

.stateFinal {
  border: 4px double var(--accent-primary);
  background-color: var(--accent-bg);
}

.traceSuccess {
  border-color: var(--green-main);
  background-color: var(--green-bg);
  color: var(--green-main);
  box-shadow: 0 0 24px var(--green-bg), 0 0 10px var(--green-bg);
}

.traceError {
  border-color: var(--red-main);
  background-color: var(--red-bg);
  color: var(--red-main);
  box-shadow: 0 0 24px var(--red-bg), 0 0 10px var(--red-bg);
}

.stateInitial {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent-primary);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.selected {
  box-shadow: 0 0 32px var(--accent-primary), 0 0 16px var(--accent-secondary);
}
